<nav class="navbar navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="https://www.thecontentunlimited.com/images/header_logo.png"class="logo" alt=""></a>
      <ul class="d-flex ">
         
          <li class="nav-link">
              <a href="/upload"class="btn btn-outline-light mt-3"><i class="fas fa-plus-circle"></i></a>
          </li>
          <li class="nav-link">
              <a href="/profile"class="btn btn-outline-light mt-3"><i class="fas fa-user-alt"></i></i></a>
          </li>
      </ul>
    </div>
  </nav>