  <div class="container">



      <div class="row">
          <div class="col-sm-12 col-md-2">

                
              <a href="/upload"class="btn btn-outline-dark mt-3"><i class="fas fa-upload"></i>Upload Post</a>
            
          </div>
          <div class="col-sm-12 col-md-2">

                
              <a href="/profile"class="btn btn-outline-dark mt-3"><i class="fas fa-user"></i>Profile</a>
            
          </div>
          <div class="col-sm-12 col-md-2">

                
              <a href="/view-profile"class="btn btn-outline-dark mt-3"><i class="fas fa-user"></i>View Profile</a>
            
          </div>
          <div class="col-sm-12 col-md-2">

                
              <a href="/update-profile"class="btn btn-outline-dark mt-3"><i class="fas fa-user"></i>Update profile</a>
            
          </div>
          <div class="col-sm-12 col-md-2">

                
              <a href="/delete-accound"class="btn btn-outline-dark mt-3"><i class="fas fa-user"></i>Delete accound</a>
            
          </div>
          <div class="col-sm-12 col-md-2">

                
              <a href="/logout"class="btn btn-outline-dark mt-3"><i class="fas fa-sign-out-alt"></i>Logout</a>
            
          </div>
      </div>



  </div>