                <div class="card mt-5">
                <div class="card-body"> 
                    
                    <span class="profile">
                        <i class="fas fa-user-tie"></i>  vivekvvijayan </span>
                       
                            {{#if isFollowing}}
                            <a href="#"class="btn btn-sm btn-primary ">following</a>

                            {{else}}
                            <a href="#"class="btn btn-sm btn-primary ">follow</a>
                            {{/if}}

                            <br>   <small class="text-secondary">photographer</small>
                    

                        <div class="img_container mt-5">
                            <img src="https://images.unsplash.com/photo-1575550959106-5a7defe28b56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2lsZGxpZmV8ZW58MHx8MHx8&w=1000&q=80"class="post_img" alt="">
                        </div>

                        <div v class="reactions_post">

                           <i class="far fa-heart react_icons"></i> <i class="far fa-comment-dots react_icons ml-4"></i> <i class="far fa-share-square react_icons ml-4"></i>

                        </div>

                        <a href="#"class="btn btn-outline-dark mt-3 ">Call Now</a>
                        <a href="#"class="btn btn-outline-dark mt-3">Message</a>
               </div>
               </div>

               