

<div class="container">
<div class="row mt-5">
<div class="col-md-3"></div>
<div class="col-md-5">

    <div class="card p-4">
        <div class="image_preview p-4">

            <i class="fas fa-plus-circle fs-1"></i>

        </div>
<form enctype="multipart/form-data"method="POST"action="/upload-post">

        
<input class="form-control mt-5"name="file" type="file" id="formFileMultiple" />

<div class="d-grid">
<input type="submit"class="btn image-submit_btn mt-5" value="submit">
 
  </div>
    </div>

</div>
</form>
<div class="col-md-2"></div>
</div>
</div>